.main-container {
    width: 600px;
    margin: 0 auto;

    .friend-card {
    border: 1px solid #316600;;
    box-shadow: 1px 1px 2px gray;
    margin-bottom: 40px;

        ul {
            list-style: none;
            text-align: left;
        }
    }
    
}

